<h1>Add a Library</h1>
<p>Add a Library here:</p>
<form action="/library" method="post">
  <label for="artistLibrary">Library name</label>
  <input id="artistLibrary" name="artistLibrary" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/library">Back to library.</a></p>
