<h1>Libraries</h1>
@if (@Model.Count == 0)
{
  <h3>No library has been added yet!</h3>
}
@foreach (var library in Model)
{
  <h3><a href='/library/@library.GetId()'>@library.GetArtistLibrary()</a></h3>
}
<p><a href='/'>Back home</a></p>
